*,
html,
body,
[class*="css"] {
  font-family: "Segoe UI", Arial, sans-serif;
}

#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}

.stApp header {
  z-index: 99999999999;
  background: #f0f2f6;
  height: 4rem;
}
.st-d4.st-b8.st-d5 {
  width: 30%;
}
.stDeployButton {
  visibility: hidden;
}

.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  z-index: 1;
  padding-left: 20px;
  padding-right: 39px;
  background: transparent;
}
.navbar img {
  width: 70px;
  height: 50px;
}
.navbar-brand img {
  max-height: 45px !important;
}

.navbar {
  padding-right: 10px;
  padding-left: 30px;
}

#nav-a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: large;
}

.login-button {
  position: absolute;
  right: 10%;
  margin-right: 30px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  display: inline;
  cursor: pointer;
}

.signup-button {
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  display: inline;
  cursor: pointer;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
}

.search-form {
  position: absolute;
  right: 20px;
  margin-right: 50px;
  color: #ff4b4b;
  text-decoration: none;
  font-weight: 500;
  font-size: medium;
  display: inline;
  cursor: pointer;
}

.search-form input[type="text"] {
  margin-top: 5px;
  padding: 10px;
  font-size: 17px;
  border: 2px solid white;
  float: left;
  width: 700px; /* Set width to 100px */
  background: white;
  border-radius: 50px;
  display: inline;
}

.search-form button {
  right: 0;
  width: 100px; /* Set width to auto to adjust based on content */
  padding: 10px;
  background: #ff4b4b;
  color: white;
  font-size: 17px;
  border: 2px solid white;
  border-left: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
}

.search-form input[type="text"]:focus {
  border-color: #ff4b4b; /* Change border color when input is focused */
}


.logo-image {
  height: 2rem;
  margin-top: 5px;
}

/* div.st-emotion-cache-1r6slb0.e1f1d6gn3{
  background-color: #EEEEEE;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
} */

